body{
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1;
    vertical-align: baseline;
}
ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, p{
    margin-top: 0;
    margin-bottom: 0;
}
figure{
    margin: 0;
}
